.App {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header div {
    display: flex;
    align-items: center;
}

.logo {
    height: 100px;
    width: auto;
    margin-right: 10px;
    }

.title {
    font-size: 100px;
}

.technicians-table {
    width: 100%;
    border-collapse: collapse;
}

.technicians-table th,
.technicians-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.technicians-table th {
    font-size: 72px;
    background-color: #282828;
}

.technicians-table td {
    text-align: center;
    font-size: 48px;
}

