.content {
    transition: transform 0.3s ease-in-out;
}

.content.slide {
    transform: translateX(-5%);
}

/* Mobile styles */
@media (max-width: 768px) {
    .content.slide {
        transform: translateX(-20%);
    }

}

